<% if @level == "Easy" %>
<h1>You have selected the <%= @level %> questions.</h1>
<% end %>
<% if @level == "Medium" %>
<h1>You have selected the <%= @level %> questions.</h1>
<% end %>
<% if @level == "Hard" %>
<h1>"You have selected the <%= @level %> questions. Only for the Die Hard Red Devils!!"</h1>
<% end %>
