<% if @level.choice == "Easy" %>
<h1>You have selected the <%= @level.choice %> questions.</h1>
<% end %>
<% if @level.choice == "Medium" %>
<h1>You have selected the <%= @level.choice %> questions.</h1>
<% end %>
<% if @level.choice == "Hard" %>
<h1>"You have selected the <%= @level.choice %> questions. Only for the Die Hard Red Devils!!"</h1>
<% end %>
<% if @level.choice == "Select" %>
<h1>Er.... not sure what a <%= @level.choice %> level is... go back and try again!</h1>
<img src="https://media1.tenor.com/images/3885701b4f13656e8e216697a70f351a/tenor.gif?itemid=5004700" />
<form action='/' method='get'>
  <input type="submit" value="Whoops!!">
</form>

<% end %>
