<h1>Hello and welcome to the Manchester United Quiz!</h1>

<img src="https://e0.365dm.com/18/04/768x432/skysports-football-old-trafford_4280304.jpg?20180412073405" alt="Manchester United Old Trafford" />

<h1>Please choose the level of questions you wish to answer:</h1>

<form action="/level" method="post">
  <label>Level:</label>
  <select name="level">
    <option selected>Select</option>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
  </select>
  <input type="submit" value="Submit">
</form>
